.classpath
.project
.settings/
target/
.idea/
*.iml
*.ipr
*.iws
.DS_Store
*/gen/
*~
atlassian-ide-plugin.xml
*/gen-external-apklibs/
bin/
lint.xml
project.properties
build.log
change-report.xml
changed-stories.xml
token.txt

