SDK Platform
=========

This document is intended for those that wrap the PlayHaven Android SDK.  Example might be making a plugin for another platform; or automatically configuring it for your service.

The PlayHaven Android SDK provides the ability for you to add a reference to your product in the URLs/logs/metrics.  We recommend including both a unique name as well as a version.

Usage:

```java
PlayHaven.setSDKPlatform(this, "mywrapper-1.2");
```

The first parameter is the context.  The second parameter if your custom platform identifier.

The platform identifer must conform with "Unreserved Characters" in [RFC 3986]. Any other characters will be removed.

Per [RFC 3986]:

    Characters that are allowed in a URI but do not have a reserved
    purpose are called unreserved.  These include uppercase and lowercase
    letters, decimal digits, hyphen, period, underscore, and tilde.



[RFC 3986]: http://tools.ietf.org/html/rfc3986#section-2.3